<html>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "poll/main.css " %}"/>
  {% block includes %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="subpage">
  <!-- Header -->
  <header id="header">
    <div class="inner"> <a href="/" class="logo"><h3>Compatibilidade<strong> Política</strong></h3></a>
    
    {% if question.id %}
    <nav id="nav">
      <b>Questão {{ question.id }} / {{ qcount }}</b>
    </nav>
    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    {% endif %}
                    
    </div>
  </header>
  {% block content %}
  {% endblock %}
  </body>
</html>