{% extends "base.html" %}
{% load static %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static "poll/sliders.css" %}">
{% endblock %}
{% block title %}Compatibilidade Política{% endblock %}
{% block content %}
        <div class="topright"><b>Questão {{ question.id }} / {{ qcount }}</b></div>
        <div class="outer">
            <div class="inner">
            <h3>{{question.title}}</h3>
            {% if message %}
            <h3 style="color:#6cc091">Você já votou nessa questão. Deseja atualizar? Você pode sair a qualquer hora, pois a sua resposta já foi registrada.</h3>
            {% endif %}
            <h2>{{question.text}}</h2>

            <form method="post">
                {% csrf_token %}
                De ponto de vista da economia do país, essa legislação exibe facetas da<br>
                <div class="column-left">Esquerda</div>
                <div class="column-center">
                    {{ form.economic }}
                </div>
                <div class="column-right">Direita</div>
                <br>
                <br>

                De ponto de vista social, essa legislação tem aspecto mais<br>
                <div class="column-left">Libertário</div>
                <div class="column-center">
                    {{ form.social }}
                </div>
                <div class="column-right">Autoritário</div>
                <br><br>
                <input name="questionid" type="hidden" value="{{ question.pk }}">
                <input type="submit" class="enviar" value="Enviar" />
            </form>
            <a href="/vote/{{ qnext }}">Pular</a>
            </div>
        </div>
{% endblock %}